:root {
  --bg-color: #2e4e6e;
  --font-color: #2b2e33;
  --title-bg-color: rgba(255, 255, 255, 0.6);
  --alt-bg-color: rgba(255, 255, 255, 0.6);
  --opaque-bg-color: rgba(255, 255, 255, 0.8);
  --header-bg-color: rgb(61, 57, 57);
  --header-bg-color-hover: rgb(27, 73, 104);
  --title-color: #2b2e33;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

label,
p {
  margin: 0;
}

.contact-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;
  max-width: 1400px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--bg-color);
  background-image: url("/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#name {
  color: var(--title-color);
}

.contact-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.close-button {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: lightcoral;
  color:#2b2e33;
}

.close-button:hover {
  background-color: rgb(233, 86, 86);
  color:#2b2e33;
  text-decoration: none;
}

.contact-card-header {
  padding: 8px 15px;
  background-color: var(--header-bg-color);
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.contact-card-header:hover {
  background-color: var(--header-bg-color-hover);
}

.contact-card-body {
  padding: 25px 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.last-updated {
  padding: 10px;
  font-size: small;
}

.personal-info-container {
  flex: 1.5;
  min-width: 450px;
}

.details-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  border-radius: 3px;
  min-width: 450px;
  
  background-color: var(--alt-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: 0.3s;
}

.details-container:hover {
  background-color: var(--opaque-bg-color);
}

.contact-card-section {
  margin: 15px 0px;
}

#profile-picture-container {
  display: flex;
  align-items: center;
}

#profile-picture {
  width: 75px;
  margin: 10px;
}

#personal-info-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 5px;
}

#personal-info-section {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px 20px 0px;
  margin-bottom: 20px;

  background-color: var(--title-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 3px;
  transition: 0.3s;
}

#personal-info-section:hover {
  background-color: var(--opaque-bg-color);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
  gap: 2px 10px;
}

.grid-wrapper-wide {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 0px 10px;
}

.bold-on-hover:hover {
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .details-container {
    min-width: 250px;
  }
  .personal-info-container {
    min-width: 250px;
  }
  .main-content {
    flex-direction: column;
  }
  #personal-info-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #personal-info-details-container {
    align-items: center;
    margin: 0;
  }
}
