.game-2048-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 80vh;
    width: 95.5vw;
    max-width: 1400px;
}

.game-2048-wrapper * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#game-board {
    --max-size: 100px;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), min(var(--cell-size),var(--max-size)));
    grid-template-rows: repeat(var(--grid-size), min(var(--cell-size),var(--max-size)));
    background-color: #3d3939;
    gap: var(--cell-gap);
    font-size: 6vmin;
    padding: 2vmin;
    position: relative;
    border-radius: 1vmin;
}

.cell {
    background-color: #AAA;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(var(--cell-size),var(--max-size));
    height: min(var(--cell-size),var(--max-size));
    border-radius: 1vmin;
    top: calc(var(--y) * (min(var(--cell-size),var(--max-size)) + var(--cell-gap))  + var(--cell-gap));
    left: calc(var(--x) * (min(var(--cell-size),var(--max-size)) + var(--cell-gap)) + var(--cell-gap));
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: showTile 200ms ease-in-out;
    transition: 100ms ease-in-out;
    font-weight: bold;
}

@keyframes showTile {
    0% {
        opacity: .5%;
        transform: scale(0);
    }
}