canvas {
  display: block;
  z-index: 2
}

#main-toggle-button {
  position: fixed;
  top: 3%;
  left: 92%;
  background-color: rgb(37, 103, 146, 0.9);
  border: none;
}

#snake {
  width: 1350px;
  height: 695px;
}
